.vscode
testdata
__pycache__
build
hcpasl.egg-info
*.log
.DS_Store
HCP_asl_min_req/*
scratch.py 
dist
_version.py
hcpasl/resources/*.ipynb_checkpoints
hcpasl/*.ipynb_checkpoints
temp_calib
HCA6002236*
coeff_AS82_Prisma.grad