gradunwarp @ git+https://github.com/Washington-University/gradunwarp
numpy>=1.25  # Required for gradunwarp 
fslpy>=3.1.0
nibabel
pyfab
regtricks
toblerone @ git+ssh://git@bitbucket.org/quantified-imaging/toblerone
gradunwarp
requests
regtricks @ git+ssh://git@bitbucket.org/quantified-imaging/regtricks
scikit-learn
pandas 