gradunwarp @ git+https://github.com/Washington-University/gradunwarp
cython 
numpy>1.21.5  # addresses a reciprocal error on MacOS, see https://github.com/dask/dask/issues/7189
fslpy>=3.1.0
nibabel
pyfab
regtricks
toblerone @ git+https://github.com/tomfrankkirk/toblerone@v0.8.2
gradunwarp
requests
regtricks @ git+https://github.com/tomfrankkirk/regtricks@v0.3.6
scikit-learn
nilearn
pandas
nbformat
nbclient
nbparameterise
ipywidgets
ipykernel 